.galleryPage{
  position: relative;
  overflow: scroll;
}

.filtre-bar-container{
height: 0px;
  font-size: 10px;
  margin-left: 15px !important;
  display: inline;
  justify-content: center;
  vertical-align: middle;
}

.filtre-logo{
  height: 80px;
  width: 150px;
  background-image: url('../Assets/filters/Blackwork.jpg');
  background-position: center;
  background-size: cover;
  margin-top: 10px !important;
}

.filtreStyleTexte{
  margin-bottom: 2px !important;
  margin-top: 2px !important;
}
