/* couleur de la navbar */
.default-color{
  background-color:#596275;
}

/* taille du dropdown pour les filtres */
.dropdown-default{
  width: 158vh;
}

/* boutons navigation de la navbar */
.nav-btn{
  color: #fff;
  margin: 15px;
}

/* boutons sign in/up de la navbar */
.nav-sign{
color: #fff
}
.white-text{
  font-family: "Lobster Two";
  font-size: 30px;
}
