
.navbarContainer{
  width: 100vw;
  position: relative;
  background-color: black;
  display : flex;
  align-items: center;
  justify-content: space-between;
}

/* ----logo de la navbar---- */

.logo-container{
  width:15vw;
  height:100%;
}

.logo-container img{
  width: 100%;
  height:100%;
}

/* -----Style des boutons-------- */

 .btn-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.circle-container{
  background-color: #FFFFFF99;
  margin: 20px;
  width: 100px;
  height:  100px;
  border : 5px solid white;
  border-radius: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-btn{
  color: #000;
  width: 30px !important;
  height: 10vh;
}

/* ---Style des boutons au survol--- */

.circle-container:hover{
  background-color: #FFFFFF;
  margin: 20px;
  width: 100px;
  height:  100px;
  border : 5px solid #e74c3c;
  border-radius: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.nav-btn-hover{
  color: #e74c3c;
  width: 40px !important;
  height: 10vh;
}

/* ---Style des paniers de droite--- */

.basket-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 20vw; */
}

 .basket-like{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}

.basket-like p{
  color: white;
}

.basket-like-icon{
  color: #bdc3c7;
  margin-left: 10px;
  width: 50px !important;
  height: 50px !important;

}

.basket-artist{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.basket-artist p{
  color: white;
}

.basket-artist-icon{
  color: #bdc3c7;
  margin-left: 10px;
  width: 50px !important;
  height: 50px !important;

}
