/* .projectFormContainer{
width : 100vw;
height: 500px;
display : flex;
flex-direction: column;
justify-content:flex-start;
font-family:inherit;
font-weight: 500;
font-size: 12px;
margin-top: 15px;
margin-bottom: 15px;
padding-top: 20px;
padding-bottom: 20px;
border: 1px solid #ced6e0
}
.FormGroup{
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
Label{
  margin-bottom: 0px;
}
/* pour introduire le formulaire */
/* .intro{
  color: #747d8c
} */

/* FormGroup Description */

/* .description{
  display : flex;
  justify-content: space-between;
  align-items:flex-start;
}

.descriptionText{
  color: #747d8c;
  font-size: 10px;
  margin-left: 5px;
}
.text{
  width: 100px;
}
 */

/* FormGroup taille tattoo*/
/* .sizeTattoos{
  display : flex;
  justify-content:space-between;
  align-items:center;
  height: 100px;
} */
/* FormGroup styles tattoo*/
/* .stylesTatouages{
  display : flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
} */
/* tous les <input> taille et styles*/
/* .rollingList{
  font-size: 10px;
  height: 30px;
}
.contactNumber{
  display : flex;
  justify-content: space-between;
  align-items: center;
}
.telephone{
  display : flex;
  flex-direction: column;
}
.numberArea{
  font-size: 10px;
  width: 35vw;
}
span{
  font-size: 10px;
  color: #747d8c;
  width: 180px;
} */
/* FormGroup date et creneaux*/
/*.availabilities{

}

.availabilityForm{
  display : flex;
  justify-content: space-between;
  align-items: center;
}
.dateList{
  font-size: 10px;
  width: 35vw;
  margin: 5px;
}
.load{
  display : flex;
  justify-content: space-between;
  align-items: center;
}
.textLoad{
  width: 50vw;
} */
.stepLabelForm{
  
}
