.userPage-container{
 height: 120vh !important;
 width: 100vw;
  }
  .mainContainer{
  height: 120vh;
  width: 100vw;
  background-image: url(../Assets/backgrounds/tattoowheats.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content:center;

}

.topContainer{
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content:center;
  align-items: center;
  position: relative;
}
.row-topFormTattoos{
  position: relative;
}

/* .lowContainer{
  width: 100vw;
  height: 100px;
  position: static;
} */
